* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header h1 {
    color: #fff;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body>header {
    background: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 20px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0px auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
    margin-top: 20px;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background: rgba(0, 255, 0, 0.1)
}

#sports .articles a{
    background: blue;
    color: #fff;
}

#entretenimento {
    background: #c1c1c1;
}

#entretenimento .articles a{
    background: #598b7c;
    color: #fff;
}

#economia {
    background: #f5ffc4;
}

#economia .articles a{
    background: #67f101;
    color: #1a1a1a;
}

#tecnologia {
    background: #c4f6ff;
}

#tecnologia .articles a{
    background: #ff97d9;
    color: #1a1a1a;
}